root {
    --border1 : 1rem solid rgb(244,244,244);
    --border-radius1 : 5rem;
    --colorImp : rgb(211,87,85);
}

body {
    display : flex;
    flex-direction : row;
    align-content : space-between;
    width : 65vw;
    margin : auto;
    background-color : rgb(235,235,235);
}

header {
    display : flex;
    flex-wrap : wrap;
    border : var(--border1);
    border : var(--border-radius1);
    background-color : rgb(248,248,250);
}

header img {
    border : var(--border1);
    border-radius : 100%;
}

header h1 {
    color : var(--colorImp);
}

header a {
    display : block;
    width : 15vw;
    padding : 0.76rm;
    background-color : var(--colorImp);
}

nav {
    border : var(--border1);
    border : var(--border-radius1);
    background-color : rgb(248,248,250);
}

nav ul {
    display : flex;
    flex-wrap : column;
}

nav li {
    list-style-type : none;
}

main {
    border : var(--border1);
    border : var(--border-radius1);
    background-color : rgb(248,248,250);
}

