root{
    --border1:1rem solid rgb(244,244,244);
    --border-radius1:5rem;
}


body{
    background-color : rgb(235,235,235);
    width:65vw;
    margin:auto;
    display:flex;
    flex-direction: row;
    align-content:space-between;
}

header{
    background-color : rgb(248,248,250);
    display:flex;
    border:var(--border1);
    border:var(--border-radius1);
    display:flex;
}


header a{
    display:block;
    width:15vw;
    padding:0.76rm;
}

nav{
    background-color : rgb(248,248,250);
    border:var(--border1);
    border:var(--border-radius1);
}

nav ul{
    display:flex;
    flex-wrap: column;
}

nav li{
    list-style-type: none;
}

main{
    background-color : rgb(248,248,250);
    border:var(--border1);
    border:var(--border-radius1);
}
