body {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    width : 65vw;
    margin : auto;
    background-color : rgb(235,235,235);
}

header {
    display : flex;
    flex-wrap : wrap;
    border : 1rem solid rgb(244,244,244);
    border : 5rem;
    background-color : rgb(248,248,250);
}

header img {
    border : 1rem solid rgb(244,244,244);
    border-radius : 100%;
}

header h1 {
    color :  rgb(211,87,85);
}

header a {
    display : block;
    width : 15vw;
    padding : 0.76rm;
    background-color :  rgb(211,87,85);
}

nav {
    border : 1rem solid rgb(244,244,244);;
    border : 5rem;
    background-color : rgb(248,248,250);
}

nav ul {
    display : flex;
    flex-wrap : column;
}

nav li {
    list-style-type : none;
}

main {
    border : 1rem solid rgb(244,244,244);;
    border : 5rem;
    background-color : rgb(248,248,250);
}

